.vizualizare-produs {
  background: white; }
  .vizualizare-produs .card.mt-4 {
    border: none; }
  @media (min-width: 768px) {
    .vizualizare-produs .card-body {
      margin-top: 60px; } }
  .vizualizare-produs .btn-success:not(:disabled):not(.disabled).active, .vizualizare-produs .btn-success:not(:disabled):not(.disabled):active, .vizualizare-produs .show > .btn-success.dropdown-toggle {
    border: darkcyan;
    background: darkcyan; }
  .vizualizare-produs .card.card-outline-secondary.my-4 {
    border: none; }
  .vizualizare-produs .card-header {
    background-color: white;
    border-bottom: none; }
  .vizualizare-produs i.fas.fa-cart-plus {
    padding-right: 12px;
    border-right: 1px solid white;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(48%, #fff), to(rgba(255, 255, 255, 0)));
    -webkit-border-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 48%, rgba(255, 255, 255, 0) 100%);
    border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(48%, #fff), to(rgba(255, 255, 255, 0)));
    -o-border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 48%, rgba(255, 255, 255, 0) 100%);
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 48%, rgba(255, 255, 255, 0) 100%);
    zoom: 1;
    border-image-slice: 1;
    margin-left: -4px; }
  .vizualizare-produs i.far.fa-heart {
    padding-right: 12px;
    border-right: 1px solid white;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(48%, #fff), to(rgba(255, 255, 255, 0)));
    -webkit-border-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 48%, rgba(255, 255, 255, 0) 100%);
    border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(48%, #fff), to(rgba(255, 255, 255, 0)));
    -o-border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 48%, rgba(255, 255, 255, 0) 100%);
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 48%, rgba(255, 255, 255, 0) 100%);
    zoom: 1;
    border-image-slice: 1;
    margin-left: -4px; }
  .vizualizare-produs i.fas.fa-box-open {
    width: 30px !important;
    height: 30px !important;
    margin-bottom: 10px;
    display: table;
    margin: 0 auto; }
  .vizualizare-produs i.fas.fa-truck-loading {
    width: 30px !important;
    height: 30px !important;
    margin-bottom: 10px;
    display: table;
    margin: 0 auto; }
  .vizualizare-produs i.fas.fa-award {
    width: 30px !important;
    height: 30px !important;
    margin-bottom: 10px;
    display: table;
    margin: 0 auto; }
  .vizualizare-produs .garantie {
    font-size: 16px !important;
    padding: 7px 45px 5px 45px;
    font-size: 28px !important; }
  .vizualizare-produs .retur {
    font-size: 16px !important;
    padding: 7px 45px 5px 45px;
    font-size: 28px !important; }
  .vizualizare-produs .delivery {
    font-size: 16px !important;
    padding: 7px 45px 5px 45px;
    font-size: 28px !important; }
  .vizualizare-produs .gifts.d-flex.justify-content-between {
    font-size: 22px; }
  .vizualizare-produs .offset-lg-2.dark-side {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    color: darkcyan;
    font-size: 10px;
    padding: 0 15px;
    margin-bottom: 4px;
    white-space: nowrap;
    font-family: system-ui;
    font-size: 16px;
    font-weight: 500;
    overflow-x: hidden; }
  .vizualizare-produs a.btn.btn-success {
    background: darkcyan;
    border-color: darkcyan;
    font-family: system-ui; }
  .vizualizare-produs p.card-text {
    font-family: system-ui; }
  .vizualizare-produs h3.card-title {
    font-family: system-ui; }
  .vizualizare-produs h4 {
    font-size: 26px;
    font-weight: 550;
    letter-spacing: .7px;
    margin-right: 10px; }

/*# sourceMappingURL=vizualizareprodus.css.map */
