{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<div class="admin-autentificare">
    <div class="jumbotron">
        <h2 style="text-align: center; color: #206aaa;">Login Form</h2>
        <div>
            <form method="POST" action="">
                <div class="form-group">
                    {{render_field(form.numeutilizator, class_="form-control")}}
                </div>
                <div class="form-group">
                    <label><strong>parola</strong></label>
                    <input type="password" name="parola" class="form-control" value={{request.form.parola}}>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}